<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Forgot Username</title>
{% endblock %}

{% block maincontent %}
  <h2>Recover Username</h2>
  {{flash_macro.render_flash(get_flashed_messages())}}
  <form method='POST'>
    {{form.email.label(class='reckoner')}} {{form.email(class='entry')}}
    <br/>
    {{form.recaptcha}}
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner entry', id='submit')}}
  </form>
{% endblock %}