<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Reset Password</title>
{% endblock %}

{% block maincontent %}
  <h2>Reset Password</h2>
  {{flash_macro.render_flash(get_flashed_messages())}}
  <form method="POST">
    {{form.username.label(class='reckoner')}} {{form.username(class='entry')}}
    <br/>
    {{form.email.label(class='reckoner')}} {{form.email(class='entry')}}
    <br/>
    {{form.recaptcha(class='recaptcha')}}
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner entry', id='submit')}}
  </form>
{% endblock %}