<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Reset Password</title>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>Reset Password</h2>
  <form method="POST">
    {{form.username.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-user fa-2x'></i>
      {{form.username(class='entry')}}
    </div><!--icon-input-->
    <br/>
    <br/>
    {{form.email.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-envelope fa-2x'></i>
      {{form.email(class='entry')}}
    </div><!--icon-input-->
    <br/>
    <br/>
    {{form.recaptcha(class='recaptcha')}}
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner', id='submit')}}
  </form>
  <script src="{{url_for('static', filename='js/speciality/form-icon.js')}}"></script>
{% endblock %}