<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/abstract/formstyle.css')}}" type='text/css' rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <div class='w940-center'>
        <h2 class='rec'>Recover Username</h2>
        {{ flashmacro.render_flash(get_flashed_messages()) }}
        <form method='POST'>
          {{form.email.label(class='rec')}} {{form.email(class='entry')}}
          <br/>
          {{form.recaptcha}}
          <br/>
          {{form.csrf_token}}
          {{form.submit(class='rec entry', id='submit')}}
        </form>
      </div><!--w940-center-->
    </div><!--w940-->
  {% endblock %}
</body>
</html>