<!DOCTYPE html>
{% extends 'onecoloumn.html' %}
<html>
<head>
  {% head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/formstyle.css')}}" type='text/css' rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <h2>Reset Password</h2>
      <form method="POST">
        {{form.username.label(class='rec')}} {{form.username(class='entry')}}
        {% if form.errors['username'] %}
          <span class='usernamemessage'>&#10007 Must Enter Username</span>
        {% endif %}
        <br/>
        {{form.csrf_token}}
        {{form.recaptcha}}
          {%if form.errors['recaptcha'] %}
            <span class='recaptcha'>&#10007 Confirm Recaptcha</span>
          {% endif %}
        {{form.submit(class='entry', id='submit')}}
      </form>
    </div>
  {% endblock %}
</body>
</html>