<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Login</title>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>Log In</h2>
  <form method="POST">
    {{form.username.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-user fa-2x'></i>
      {{form.username(class='entry')}}
    </div><!--icon-input-->
    <br/>
    <br/>
    {{form.password.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-key fa-2x'></i>
      {{form.password(class='entry')}}
    </div><!--icon-input-->
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner', id='submit')}}
  </form>
  <p>Forgot your username? 
    <a href="{{url_for('auth.forgot_username')}}">
      Recover Username
    </a>
  </p>
  <p>Forgot your password?
    <a href="{{url_for('auth.forgot_password')}}">
      Reset Password
    </a>
  </p>
  <p>Not a member?
    <a href="{{url_for('auth.subscribe')}}">
      Register Here
    </a>
  </p>
  <script src="{{url_for('static', filename='js/speciality/form-icon.js')}}"></script>
{% endblock %}