<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Subscribe</title>
  <link href="{{url_for('static', filename='css/auth/subscribe.css')}}" type='text/css', rel='stylesheet'/>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>Register</h2>
  <p>Already a member?
    <a href="{{url_for('auth.login')}}">
      Login
    </a>
  </p>
  <form method="POST">
    {{form.username.label(class='reckoner')}} {{form.username(class='entry username')}}
    <span class='name-valid'></span>
    <br/>
    {{form.email.label(class='reckoner')}} {{form.email(class='entry email')}}
    <span class='email-valid'></span>
    <br/>
    <div class='fieldset'>
      <div class='fieldset-left'>
        {{form.password.label(class='reckoner')}} {{form.password(class='entry')}}
        <br/>
        {{form.password_confirm.label(class='reckoner')}} {{form.password_confirm(class='entry')}}
      </div><!--fieldset-left-->
      <div class='fieldset-right'>
        <span class='password-valid'></span>
        <span class='password-confirm-valid'></span>
      </div><!--fieldset-right-->
    </div><!--fieldset-->
    {{form.token.label(class='reckoner')}} {{form.token(class='entry')}}
    <br/>
    {{form.updates.label(class='reckoner')}} {{form.updates(checked=True, class='click')}}
    <br/>
    {{form.recaptcha}}
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner', id='submit')}}
  </form>
  <script>
    var goto_email_check = "{{url_for('auth.subscribe_email_ajax')}}";
    var goto_username_check = "{{url_for('auth.subscribe_ajax')}}";
  </script>
  <script src="{{url_for('static', filename='js/auth/subscribe.js')}}"></script>
  <script src="{{url_for('static', filename='js/speciality/jquery-ui.js')}}"></script>
{% endblock %}