<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Subscribe</title>
  <link href="{{url_for('static', filename='css/auth/subscribestyle.css')}}" type='text/css', rel='stylesheet'/>
{% endblock %}

{% block maincontent %}
  <div class='w940'>
    <div class='w940-center'>
      <h2 class='rec'>Register</h2>
      {{flashmacro.render_flash(get_flashed_messages())}}
      <p>Already a member?
        <a class='special-link' href="{{url_for('auth.login')}}">
          Login
        </a>
      </p>
      <form method="POST">
        {{form.username.label(class='rec')}} {{form.username(class='entry username')}}
        <div class='exists_container'>
          <span class='nameexists'></span>
        </div><!--exists_container-->
        <br/>
        {{form.email.label(class='rec')}} {{form.email(class='entry email')}}
        <div class='exists_container'>
          <span class='emailexists'></span>
        </div><!--exists_container-->
        <br/>
        <div class='fieldset'>
          {{form.password.label(class='rec')}} {{form.password(class='entry')}}
          <br/>
          {{form.password_confirm.label(class='rec')}} {{form.password_confirm(class='entry')}}
        </div><!--fieldset-->
        <div class='exists_container'>
          <span class='passwordexists'></span>
        </div><!--exists_container-->
        <div class='exists_container'>
          <span class='passwordconfirmexists'></span>
        </div>
        <div class='realign'></div>
        {{form.token.label(class='rec')}} {{form.token(class='entry')}}
        <br/>
        {{form.updates.label(class='rec')}} {{form.updates(checked=True, class='click')}}
        <br/>
        {{form.recaptcha}}
        <br/>
        {{form.csrf_token}}
        {{form.submit(class='rec', id='submit')}}
      </form>
    </div><!--w940-center-->
  </div><!--w940-->
  <script>
    var goto_username_check = "{{url_for('auth.subscribe_ajax')}}";
    var goto_email_check = "{{url_for('auth.subscribe_email_ajax')}}";
  </script>
  <script src="{{url_for('static', filename='js/auth/subscribejs.js')}}"></script>
  <script src="{{url_for('static', filename='js/speciality/jquery-ui.js')}}"></script>
{% endblock %}