body{
    width: 960px;
    margin: 0px auto;
    font-family: Georgia, 'Times New Roman', serif;
}

header, #content, footer{
    background-color: #efefef;
}

#content, footer{
    overflow: auto;
    overflow-y: hidden;
    height: 100%;
}

header{
    padding: 10px 10px 15px 10px;
}

footer{
    clear: both;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted black;
}

a:hover{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;
}

/*LOGO*/
hgroup{
    text-align: center;
    font-family: 'reckoner_bold', Impact, fantasy;
    font-size: 32pt;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*LOGO*/

/*SIGNIN*/
.sign_in>p{
    display: inline;
}

.sign_in{
    width: 400px;
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
}
/*SIGNIN*/

/*NAVBAR*/
nav{
    height: 40px;
}

.nav_bar{
    float: right;
    position: relative;
}

li{
    font-family: sans-serif;
    display: inline;
}


nav a:hover{
    background-color: #000000;
    color: #ffffff;
}

nav a{
    border-bottom: none;
    text-decoration: none;
    padding: 5px;
    font-family: sans-serif;
    color: inherit;
}
/*NAVBAR*/

/*SUBMENUS*/
.submenu_container{
    position: relative;
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
    top:20px;
    left: auto;
    right:0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu a{
    padding: 12px 16px;
    display: block;
}

.submenu_header:hover~.submenu, .submenu:hover{
    display: block;
}
/*SUBMENUS*/

/*CUSTOM TEXT RECOKNER*/
@font-face{
    font-family: 'reckoner_bold';
    src: url('../../fonts/reckoner_bold.ttf')
}

@font-face{
    font-family: 'reckoner';
    src: url('../../fonts/reckoner.ttf')
}

.reckoner{
    font-family: 'reckoner', Impact, fantasy;
    font-size: 24px;
}
/*CUSTOM TEXT RECOKNER*/

/*PICTURE FORMATTING*/
.align_right{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.align_center{
    display: block;
    margin: 0px auto;
}

.medium{
    width: 280px;
}

.large{
    width:400px;
}

.large_splash{
    width: 900px;
}
/*PICTURE FORMATTING*/

/*WIDTH DIVISIONS*/
.w220{
    width: 220px;
    float: left;
    margin: 10px;
}

.w700{
    width: 700px;
    float: left;
    margin: 10px;
}

.w940{
    margin: 0px auto;
    width: 940px;
}

.w940_center{
    margin: 0px 100px;
}
/*WIDTH DIVISIONS*/

/*PAGE TITLES */
h2{
    text-align: center;
    font-family: 'reckoner', Impact, fantasy;
    font-size: 24px;
}
/*PAGE TITLES */

/*SPECIAL LINK HIGHLIGHTING*/
a>.unicode_link{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

a>.unicode_link:hover{
    text-shadow: none;
}
/*SPECIAL LINK HIGHLIGHTING*/