/*TEXT ENTRY FORM ELEMENTS*/
.entry{
    margin: 20px;
    font-size: 120%;
    outline: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px;
}

.entry:hover, .entry:focus{
    margin-bottom: 19px;
    border-bottom: 2px solid black;
}

.api_entry{
    width: 550px;
    font-size: smaller;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: #f9f09a;
    margin: 20px;
}



/*TEXT ENTRY FORM ELEMENTS*/

/*CLICK ENTRY FORM ELEMENTS */
.click{
    margin: 20px;
}
/*CLICK ENTRY FORM ELEMENTS */

/*TEXT AREA FORM ELEMENTS*/
.textentry{
    resize: none;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 600px;
    height: 200px;
}

.chars-format{
    margin-left: 20px;
    display: inline;
}
/*TEXT AREA FORM ELEMENTS*/

/*SUBMISSION BUTTON ELEMENTS*/
#submit, #follow, .to_check{
    color: #444444;
    text-shadow: 0px 1px 1px #fff;
    border: 1px solid #efefef;
    border-bottom: 2px solid #b2b2b2;
    background-color: #b9e4e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
    background: -moz-linear-gradient(top, #beeae9, #a8cfce);
    background: -o-linear-gradient(top, #beeae9, #a8cfce);
    background: -ms-linear-gradient(top, #beeae9, #a8cfce);
    border-radius: 10px;
}

#submit:hover, #follow:hover, .to_check:hover{
    color: #333333;
    border: 1px solid #a3a3a3;
    border-top: 2px solid #b2b2b2;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
    background: -moz-linear-gradient(top, #a8cfce, #beeae9);
    background: -o-linear-gradient(top, #a8cfce, #beeae9);
    background: -ms-linear-gradient(top, #a8cfce, #beeae9);
}
/*SUBMISSION BUTTON ELEMENTS*/

/*FIELD SET ELEMENTS */
.fieldset{
    float: left;
    width: 400px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: right;
}

.realign{
    clear:both;
}
/*FIELD SET ELEMENTS */

