/*COLOUMNS*/
.c1, .c2, .c3{
    background-color: #fff;
    float: left;
    margin: 10px;
    width: 300px;
}

.c1{
    clear: left;
}

.c1>p, .c2>p, .c3>p{
    padding:10px;
    text-align: justify;
}
/*COLOUMNS*/
