.data-box{
    overflow: hidden;
}

.w225{
    width: 225px;
    float: left;
    margin: 10px;
    background-color: #ffffff;
}

.w225>p{
    margin: 10px;
}

.mod-link{
    font-family: Georgia, 'Times New Roman', serif;
    padding: 0px;
}

/*MOD DISPLAY*/
.onemod{
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
    background-color: #ffffff;
}

.headline{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

.headline>p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*MOD DISPLAY*/