{% import 'macros/postmacro.html' as postmacro %}
{% import 'macros/namemacro.html' as namemacro %}
{{moment.include_moment()}}

{% if display_names|length != 0 %}
  {% for name in display_names %}
    {{namemacro.render_name(name, current_user, user, moment)}}
    {{postmacro.render_post(name.who.posts.filter(Recommendation.verification > 0)
      .order_by(Recommendation.timestamp.desc()).first(), current_user, moment)}}
  {% endfor %}
{% endif %}
{% if display_names|length != current_user.display %}
  <em class='empty'></em>
{% endif %}