{% import 'macros/postmacro.html' as postmacro %}
{{moment.include_moment()}}

{% if display.count() > 0 %}
  {% for rec in display %}
    <div class='action-header'>
      <p class='rec'>
        {% if rec.action %}
          Accepted
        {% else %}
          Made Private
        {% endif %}
      </p>
      <p>
        {{moment(rec.timestamp).fromNow()}}
      </p>
    </div><!--action-header-->
    {{postmacro.render_post(rec.rec, current_user, moment)}}
  {% endfor %}
{% else %}
    <p class='empty'>No Results</p>    
{% endif %}