/*PROFILE BOX*/
.profile_box{
    border: 1px solid black;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

.profile_left{
    width: 620px;
    float: left;
}

.profile_right{
    width: 300px;
    float: left;
}

.profile_left>p, .profile_right>p{
    margin: 10px;
    padding-left: 5px;
}
/*PROFILE BOX*/