<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <title>Recommend Me - Edit {{rec.author.id}}</title>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <h2>
        <a class='rec special-link' href="{{url_for('personal.profile', id=rec.author.id)}}">
          {{rec.author.username}}
        </a>
      </h2>
      {{ flashmacro.render_flash(get_flashed_messages()) }}
    </div><!--w940-->
    <div class='listrecs'>
      {{recmacro.render_rec(rec, moment, current_user)}}
    </div><!--listrecs-->
    <div class='listcomments'>
      {{commentmacro.render_comment(com, moment, current_user)}}
    </div><!--listcomments-->
    <div class='w940'>
      <div class='w940-center'>
        <form method='POST'>
          <p class='chars-format'>Characters Left: <span class='comment_chars_left'></span></p>
          {{form.text(class='comment_text_entry')}}
          <br/>
          {{form.delete.label(class='rec')}} {{form.delete(class='entry')}}
          <br/>
          {{form.csrf_token}}
          {{form.submit(class='rec', id='submit')}}
        </form>
      </div><!--w940-center-->
    </div><!--w940-->
    <script src="{{url_for('static', filename='js/speciality/form_count_js.js')}}"></script>
  {% endblock %}
</body>
</html>