<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Delete Comment {{rec.id}}</title>
{% endblock %}

{% block maincontent %}
  <div class='w940'>
    <h2>
      <a class='black_hover_link' href="{{url_for('personal.profile', id=rec.author.id)}}">
        {{rec.author.username}}
      </a>
    </h2>
    {{ flash_macro.render_flash(get_flashed_messages()) }}
  </div><!--w940-->
  <div class='listrecs'>
    {{recmacro.render_post(rec, moment, current_user)}}
  </div><!--listrecs-->
  <div class='listcomments'>
    {{commentmacro.render_comment(com, moment, current_user)}}
  </div><!--listcomments-->
  <div class='w940'>
    <div class='w940_center'>
      <form method='POST'>
        {{form.delete.label(class='reckoner')}} {{form.delete(class='entry')}}
        <br/>
        {{form.csrf_token}}
        {{form.submit(class='reckoner', id='submit')}}
      </form>
    </div><!--w940_center-->
  </div><!--w940-->
{% endblock %}