<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Delete Comment {{rec.id}}</title>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>
    <a href="{{url_for('personal.profile', id=rec.author.id)}}">
      {{rec.author.username}}
    </a>
  </h2>
{% endblock %}

{% block supplemental %}
  <div class='list-recs'>
    {{rec_macro.render_rec(rec, moment, current_user, attributes=False)}}
  </div><!--list-recs-->
  <div class='list-comments'>
    {{comment_macro.render_comment(com, moment, current_user)}}
  </div><!--list-comments-->
  <div class='w760'>
    <form method='POST'>
      {{form.delete.label(class='reckoner')}} {{form.delete(class='click')}}
      <br/>
      {{form.csrf_token}}
      {{form.submit(class='reckoner', id='submit')}}
    </form>
  </div><!--w940-->
{% endblock %}