<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Following {{user.username}}</title>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>{{user.username}} Following</h2>
{% endblock %}

{% block supplemental %}
  <div class='list-recs'>
    {{following_macro.initialize_following(display, moment, current_user, Recommendation)}}
  </div><!--list-recs-->
  <script>
    var goto_follow = "{{url_for('personal.follow_ajax')}}";
    var goto_insert_com = "{{url_for('main.rec_inline_comment_ajax')}}"
    var goto_rec = "{{url_for('personal.following_ajax', id=user.id)}}";
  </script>
{% endblock %}