<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Followers {{user.username}}</title>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>{{user.username}} Followers</h2>
{% endblock %}

{% block supplemental %}
  <div class='list-recs'>
    {{followed_macro.initialize_followed_by(display, moment, current_user, Recommendation)}}
  </div><!--list-recs-->
  <script>
    var goto_rec = "{{url_for('personal.followers_ajax', id=user.id)}}";
  </script>
{% endblock %}