{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Following {{user.username}}</title>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>{{user.username}} Following</h2>
{% endblock %}

{% block supplemental %}
  {{relationship_macro.initialize(display, moment, current_user)}}
  <script>
    var goto_rec = "{{url_for('personal.following', id=user.id)}}";
    var id = "{{id}}";
  </script>
{% endblock %}