<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - My Inspiration</title>
{% endblock %}

{% block maincontent %}
  <div class='w940'>
    <div class='w940-center'>
      <h2 class='rec'>My Inspiration</h2>
      {{ flashmacro.render_flash(get_flashed_messages()) }}
    </div><!--w940-center-->
  </div><!--w940-->
  <div class='listrecs'>
    {{recmacro.initialize_recs(display, moment, current_user)}}
  </div><!--listrecs-->
  <script>
    var goto = "{{url_for('personal.inspiration_ajax')}}";
    var goto_insert_com = "{{url_for('main.rec_inline_comment_ajax')}}"
  </script>
{% endblock %}