<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <div class='w940-center'>
        <h2 class='rec'>My Inspiration</h2>
        {{ flashmacro.render_flash(get_flashed_messages()) }}
      </div><!--w940-center-->
    </div><!--w940-->
    <div class='listrecs'>
      {{postmacro.render_posts(display, current_user, moment)}}
    </div><!--listrecs-->
    <div class='w940-center'>
      <a><p id='ajax' class='loadMore special-link'>Load More</p></a>
    </div><!--w940-center-->
    <script>
        var goto = "{{url_for('personal.inspiration_ajax')}}";
    </script>
    <script src="{{url_for('static', filename='js/personal/inspirationjs.js')}}"></script>
  {% endblock %}
</body>
</html>