<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Post</title>
{% endblock %}

{% block maincontent %}
  <h2>Make a Rec</h2>
  {{flash_macro.render_flash(get_flashed_messages())}}
  <form method="POST">
    {{form.title.label(class='reckoner')}} {{form.title(class='rec-title-entry')}}
    <p class='chars-format'>Characters Left: <span class='rec-title-chars-left'>100</span></p>
    <br/>
    {{form.public.label(class='reckoner')}} {{form.public(class='click', checked=True)}}
    <br/>
    <p class='chars-format'>Characters Left: <span class='rec-chars-left'>1000</span></p>
    {{form.text(class='rec-text-entry')}}
    <br/>
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner', id='submit')}}
  </form>
{% endblock %}

{% block supplemental %}
  <br/>
  {{rec_macro.initialize_recs(display, moment, current_user)}}
  <script>
    var goto_rec = "{{url_for('personal.post')}}";
  </script>
  <script src="{{url_for('static', filename='js/speciality/form-count.js')}}"></script>
{% endblock %}