<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Post</title>
{% endblock %}

{% block maincontent %}
  <div class='w940'>
    <div class='w940-center'>
      <h2 class='rec'>Make a Rec</h2>
      {{ flashmacro.render_flash(get_flashed_messages()) }}
      <form method="POST">
        {{form.title.label(class='rec')}} {{form.title(class='entry rec_title_entry')}}
        <p class='chars-format'>Characters Left: <span class='rec_title_chars_left'>100</span></p>
        <br/>
        {{form.public.label(class='rec')}} {{form.public(class='click', checked=True)}}
        <br/>
        <p class='chars-format'>Characters Left: <span class='rec_chars_left'>1000</span></p>
        {{form.text(class='rec_text_entry')}}
        <br/>
        <br/>
        {{form.csrf_token}}
        {{form.submit(class='rec', id='submit')}}
      </form>
    </div><!--w940-center-->
  </div><!--w940-->
  <br/>
  <div class='listrecs'>
    {{recmacro.initialize_recs(display, moment, current_user)}}
  </div><!--listrecs-->
  <script>
    var goto = "{{url_for('personal.post_ajax')}}";
    var goto_insert_com = "{{url_for('main.rec_inline_comment_ajax')}}"
  </script>
  <script src="{{url_for('static', filename='js/speciality/form_count_js.js')}}"></script>
{% endblock %}