<!DOCTYPE html>
{% extends 'auth/subscribe.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/poststyle.css')}}" type='text/css', rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <h2>Make a Rec</h2>
      {% if form.errors['missing'] != '' %}
        <p>There was an error posting your Rec</p>
      {% endif %}
      <form method="POST">
        {{form.title.label(class='rec')}} {{form.title(class='entry')}}
        <br/>
        {{form.public.label(class='rec')}} {{form.public(class='entry', checked=True)}}
        <br/>
        {{form.text(class='textentry')}}
        <br/>
        {{form.csrf_token}}
        {{form.submit(class='entry', id='submit')}}
      </form>
    </div>
    <div class='listrecs'>
      {% for rec in display %}
        <div class='rec1'>
          <h3 class='postTitle rec'>{{rec.title}}</h3>
          <div class='postHeaderDiv'>
            <p class='postHeader'>{{rec.author.username}}</p>
            {% if rec.public %}
              <p class='postHeader'>Public</p>
            {% else %}
              <p class='postHeader'>Private</p>
            {% endif %}
            {% if rec.author_id==current_user.id %}
              <p class='postHeader'>Edit</p>
            {% endif %}
          <p class='postHeader'>{{moment(rec.timestamp).fromNow()}}</p>
          <p class='postHeader rec'>{{rec.likes}}</p>
          </div>
          <p class='postText'>{{rec.text}}</p>
        </div>
        <br/>
      {% endfor %}
        <p class='loadMore rec'><a href="{{url_for('personal.post', limit=limit+10)}}">Load More</a></p>
    </div>
  {% endblock %}
</body>
</html>