<!DOCTYPE html>
{% extends 'onecoloumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/poststyle.css')}}" type='text/css', rel='stylesheet'/>
    <link href="{{url_for('static', filename='css/profilestyle.css')}}" type='text/css', rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
        <h2 class='rec'>{{user.username}}</h2>
        <div class='profile-left'>
          <p>{{user.about_me}}</p>
        </div><!--profile-left-->
        <div class='profile-right'>
          <p>Member Since: {{moment(user.member_since).format("MMMM Do YYYY")}}</p>
          <p>Posts: {{total}}</p>
        </div><!--profile-right-->
    </div><!--w940-->
    <div class='listrecs'>
      {{postmacro.render_posts(display, current_user, moment)}}
      <a href="{{url_for('personal.profile', id=user.id, limit=limit+10, _scheme='https', _external=True)}}"><p class='loadMore'>Load More</p></a>
    </div><!--listrecs-->
  {% endblock %}
</body>
</html>