<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <title>Recommend Me - Profile {{user.username}}</title>
    <link href="{{url_for('static', filename='css/personal/profilestyle.css')}}" type='text/css', rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <div class='w940-center'>
        <h2 class='rec'>Profile</h2>
        {{ flashmacro.render_flash(get_flashed_messages()) }}
      </div><!--w940-center-->
      <div class='profile-box'>
        <h2 class='rec'>{{user.username}}</h2>
        <button class='rec width-set' id='follow'>
          {% if current_user.id == user.id %}
            Edit
          {% elif current_user.is_authenticated and 
            current_user.following.filter_by(following=user.id).count() != 0 %}
            Following
          {% else %}
            Follow
          {% endif %}           
        </button>
        <div class='realign'></div>
        <div class='profile-left'>
          <p>{{user.about_me}}</p>
        </div><!--profile-left-->
        <div class='profile-right'>
          <p>Member Since: {{moment(user.member_since).format("MMMM Do YYYY")}}</p>
          <p>Posts: {{user.posts.count()}}</p>
          <p>Comments: {{user.commented_on.count()}}</p>
          <p>
            <a class='profile-link special-link' 
              href="{{url_for('personal.followers', _scheme='https', _external=True)}}">
              Followers: <span class='f_count'>{{user.followed_by.count()}}</span>
            </a>
          </p>
          <p>
            <a class='profile-link special-link' 
              href="{{url_for('personal.following', _scheme='https', _external=True)}}">
              Following: {{user.following.count()}}
            </a>
          </p>
        </div><!--profile-right-->
      </div><!--profile-box-->
      <div class='buttondiv'>
        <button class='rec width-set' id='submit'>Comments</button>
      </div><!--buttondiv-->
    </div><!--w940-->
    <br/>
    <br/>
    <div class='listrecs'>
      {% for rec in display %}
        {{postmacro.render_post(rec, current_user, moment)}}
      {% endfor %}
    </div><!--listrecs-->
    <div class='listcomments'>
      {% for com in d_c %}
        {{commentmacro.render_post(com, current_user, moment)}}
      {% endfor %}
    </div><!--listcomments-->
    <div class='w940-center'>
      <a><p class='ajax loadMore special-link'>Load More</p></a>
    </div><!--w940-center-->
      <div class='w940-center'>
      <a><p class='ajax loadMoreCom special-link'>Load More</p></a>
    </div><!--w940-center-->
    <script>
      var id = {{id}};
      var gotoP = "{{url_for('personal.profile_ajax')}}";
      var gotoC = "{{url_for('personal.profileCom_ajax')}}";
      var gotoF = "{{url_for('personal.follow_ajax')}}";
      var gotoE = "{{url_for('personal.update')}}";
    </script>
    <script src="{{url_for('static', filename='js/personal/profilejs.js')}}"></script>
  {% endblock %}
</body>
</html>