<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <title>Recommend Me - Settings</title>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <div class='w940-center'>
        <h2 class='rec'>Update Profile</h2>
        {{ flashmacro.render_flash(get_flashed_messages()) }}
        <p>Interested in our API? 
          <a class='special-link' href="{{url_for('personal.token')}}">
            Click Here
          </a>
        </p>
        <form method="POST">
          {{form.about_me.label(class='rec')}}
          <p class='chars-format'>Characters Left: <span class='about_me_chars_left'></span></p>
          <br/>
          {{form.about_me(class='about_me_text_entry')}}
          <br/>
          <div class='fieldset'>
            {{form.password.label(class='rec')}} {{form.password(class='entry')}}
            <br/>
            {{form.password_confirm.label(class='rec')}} {{form.password_confirm(class='entry')}}
          </div><!--fieldset-->
          <div class='realign'></div>
          {{form.updates.label(class='rec')}} {{form.updates(checked=current_user.updates,
            class='click')}}
          <br/>
          {{form.limit.label(class='rec')}} {{form.limit(class='entry')}}
          <br/>
          {{form.csrf_token}}
          <br/>
          {{form.submit(class='rec', id='submit')}}
        </form>
      </div><!--w940-center-->
    </div><!--w940-->
    <script src="{{url_for('static', filename='js/speciality/form_count_js.js')}}"></script>
  {% endblock %}
</body>
</html>