<!--REQUIREMENTS
  comments.js
  -->
{% import 'macros/comment-macro.html' as comment_macro %}

{% macro render_mod(com, moment, current_user) %}
  <div class='action-header'>
    <i id='{{com[2].comment_id}}' class="change-decision font-link fa fa-frown-o fa-2x"></i>
    <p class='reckoner'>
      {% if com[2].action %}
        Accepted
      {% else %}
        Deleted
      {% endif %}
    </p>
    <p>{{moment(com[2].timestamp).fromNow()}}</p>
  </div><!--action-header-->
  {{comment_macro.render_comment((com[0], com[1]), moment, current_user)}}
{% endmacro %}

{% macro initialize_comment_moderations(mod_coms, moment, current_user) %}
  <div class='list-comments'>
    {{ajax(mod_coms, moment, current_user)}}
    {% if mod_coms.pages != mod_coms.page and mod_coms.pages != 0 %}
      <div class='loading'>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      </div>
      <p class='load-more-com'>Load More</p>
    {% endif %}
  </div><!--list-comments-->
{% endmacro %}

{% macro ajax(mod_coms, moment, current_user) %}
  {% for com in mod_coms.items %}
    {{render_mod(com, moment, current_user)}}
  {% endfor %}
{% endmacro %}