{% import 'macros/comment-macro.html' as comment_macro %}

{% macro render_mod(rec_com, moment, current_user) %}
  <div class='action-header'>
    <p class='reckoner'>
      {% if rec_com.action %}
        Accepted
      {% else %}
        Deleted
      {% endif %}
    </p>
    <p>{{moment(rec_com.timestamp).fromNow()}}</p>
  </div><!--action-header-->
  {{comment_macro.render_comment(rec_com.com, moment, current_user)}}
{% endmacro %}

{% macro initialize_comment_moderations(mod_coms, moment, current_user) %}
  {{ajax(mod_coms, moment, current_user)}}
  {% if mod_coms.pages != mod_coms.page %}
    <a><p id='ajax-comments' class='load-more-com'>Load More</p></a>
  {% endif %}
  <script src="{{url_for('static', filename='js/mod/comment.js')}}"></script>
{% endmacro %}

{% macro ajax(mod_coms, moment, current_user) %}
  {% for rec_com in mod_coms.items %}
    {{render_mod(rec_com, moment, current_user)}}
  {% endfor %}
{% endmacro %}
