<!--REQUIREMENTS
  moderator-info.css
  -->
{% macro mod_display(mods, moment) %}
  {% for mod_info in mods %}
    {% set mod, rec_mods, recent_rec_mods, com_mods, recent_com_mods = mod_info %}
    <div class='mod-display'>
      <div class='headline'>
        <a class='headline-element' href="{{url_for('personal.profile', id=mod.id)}}">
          {{mod.username}}
        </a>
        <a class='headline-elements' href="{{url_for('admin.mod_history', id=mod.id)}}">
          Mod History
        </a>
        <p class='headline-element'>Last Login: {{moment(mod.last_login).fromNow()}}</p>
      </div><!--headline-->
      <div class='w220'>
        <p>Total Rec Mods: {{rec_mods}}</p>
        <p>
          Last Week Rec Mods: {{recent_rec_mods}}
        </p>
      </div><!--w220-->
      <div class='w220'>
        <p>Total Com Mods: {{com_mods}}</p>
        <p>
          Last Week Com Mods: {{recent_com_mods}}
        </p>
      </div><!--w220-->
    </div><!--mod-display-->
    <br/>
  {% endfor %}
{% endmacro %}