<!--REQUIREMENTS
  rec.js
  comments.js
  -->
{% import 'macros/rec-macro.html' as rec_macro %}

{% macro render_mod(rec_mod, moment, current_user) %}
  <div class='action-header'>
    <i id='{{rec_mod.mod_on}}' class="change-decision font-link fa fa-frown-o fa-2x"></i>
    <p class='reckoner'>
      {% if rec_mod.action %}
        Accepted
      {% else %}
        Made Private
      {% endif %}
    </p>
    <p>{{moment(rec_mod.timestamp).fromNow()}}</p>
  </div><!--action_header-->
  {{rec_macro.render_rec(rec_mod.rec, moment, current_user)}}
{% endmacro %}

{% macro initialize_rec_moderations(mod_recs, moment, current_user) %}
  <div class='list-recs'>
    {{ajax(mod_recs, moment, current_user)}}
    {% if mod_recs.pages != mod_recs.page and mod_recs.pages != 0 %}
      <p class='load-more'>Load More</p>
    {% endif %}
  </div><!--list-recs-->
{% endmacro %}

{% macro ajax(mod_recs, moment, current_user) %}
  {% for rec_mod in mod_recs.items %}
    {{render_mod(rec_mod, moment, current_user)}}
  {% endfor %}
{% endmacro %}