{% import 'macros/rec-macro.html' as rec_macro %}

{% macro render_mod(rec_mod, moment, current_user) %}
  <div class='action-header'>
    <p class='reckoner'>
      {% if rec_mod.action %}
        Accepted
      {% else %}
        Made Private
      {% endif %}
    </p>
    <p>{{moment(rec_mod.timestamp).fromNow()}}</p>
  </div><!--action_header-->
  {{rec_macro.render_rec(rec_mod.rec, moment, current_user)}}
{% endmacro %}

{% macro initialize_rec_moderations(mod_recs, moment, current_user) %}
  {{ajax(mod_recs, moment, current_user)}}
  {% if mod_recs.pages != mod_recs.page and mod_recs.pages != 0 %}
    <p id='ajax-recs' class='load-more'>Load More</p>
  {% endif %}
  <script src="{{url_for('static', filename='js/macros/rec.js')}}"></script>
{% endmacro %}

{% macro ajax(mod_recs, moment, current_user) %}
  {% for rec_mod in mod_recs.items %}
    {{render_mod(rec_mod, moment, current_user)}}
  {% endfor %}
{% endmacro %}