/*MAIN CONTENT TAG LINE*/
.first{
    font-family: 'reckoner';
    font-size: 36pt;
    padding-bottom: 0px;
    padding-left: 10px;
}

.second{
    display:block;
    text-indent: 65px;
    padding-bottom: 25px;
    font-family: sans-serif;
    font-size: larger;
}
/*MAIN CONTENT TAG LINE*/