<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <h2><a class='rec special-link' href="{{url_for('personal.profile', id=display[0].author.id, _scheme='https', _external=True)}}">{{display[0].author.username}}</a></h2>
      {{ flashmacro.render_flash(get_flashed_messages()) }}
    </div>
    <div class='listrecs'>
      {% for rec in display %}
        {{postmacro.render_post(rec, current_user, moment)}}
      {% endfor %}
    </div><!--listrecs-->
    <div class='listcomments'>
      {% for com in d_c %}
        {{commentmacro.render_post(com, current_user, moment)}}
      {% endfor %}
    </div><!--listcomments-->
    <div class='w940'>
      <div class='w940-center'>
        <form method='POST'>
          {{form.delete.label(class='rec')}} {{form.delete(class='entry')}}
          <br/>
          {{form.csrf_token}}
          {{form.submit(class='rec entry', id='submit')}}
        </form>
      </div><!--w940-center-->
    </div><!--w940-->
  {% endblock %}
</body>
</html>