{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Rec {{rec.id}}</title>
{% endblock %} 

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>
    <a href="{{url_for('profile.user_profile', username=rec[0].user.username)}}">{{rec[0].user.username}}</a>
  </h2>
  <div class='font-link-position'>
    {% if current_user.is_authenticated and current_user != rec.user %}
      {% if rec[1] %}
        <i id='{{rec[0].user_id}}' class="follow-button font-link fa fa-heart fa-2x"></i>
      {% else %}
        <i id='{{rec[0].user_id}}' class='follow-button font-link fa fa-heart-o fa-2x'></i>
      {% endif %}
    {% endif %}
  </div><!--font-link-position-->
  <br/>
{% endblock %}

{% block supplemental %}
  <div class='list-recs'>
    {{rec_macro.single_rec(rec, moment, current_user, attributes=False, in_comments=False)}}
  </div><!--list-recs-->
  {{comment_macro.initialize_comments(d_c, moment, current_user)}}
  {% if current_user.is_authenticated %}
    <div class='w760'>
      <h2>Comment</h2>
      <form method='POST'>
        <p class='chars-format'>Characters Left: <span class='comment-chars-left'></span></p>
        {{form.text(class='comment-text-entry')}}
        <br/>
        {{form.csrf_token}}
        {{form.submit(class='reckoner', id='submit')}}
      </form>
    </div><!--w760-->
  {% endif %}
  <script>
    var goto_comment = "{{url_for('main.load_comments', id=rec[0].id)}}";
  </script>
  <script src="{{url_for('static', filename='js/speciality/form-count.js')}}"></script>
{% endblock %}