<!DOCTYPE html>
{% extends 'abstract/three-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me</title>
  <link href="{{url_for('static', filename='css/speciality/photo-slider.css')}}" type='text/css' rel='stylesheet'/>
  <link href="{{url_for('static', filename='css/main/index.css')}}" type='text/css' rel='stylesheet'/>
{% endblock %}

{% block maincontent %}
  <div class='w220'>
    <div class='first'>Where</div>
    <div class='second'>will you go?</div>
    <div class='first'>What</div>
    <div class='second'>will you do?</div>
    <div class='first'>Who</div>
    <div class='second'>will you be?</div>
  </div><!--w220-->
  <div class='w700 slider'>
    <div class='slide-viewer'>
      <div class='slide-group'>
        <div class='slide slide-1'>
          <img src="{{url_for('static', filename='images/speciality/one.jpeg')}}"/>
        </div><!--slide-1-->
        <div class='slide slide-2'>
          <img src="{{url_for('static', filename='images/speciality/two.jpeg')}}"/>
        </div><!--slide-2-->
        <div class='slide slide-3'>
          <img src="{{url_for('static', filename='images/speciality/three.jpeg')}}"/>
        </div><!--slide-3-->
        <div class='slide slide-4'>
          <img src="{{url_for('static', filename='images/speciality/four.jpeg')}}"/>
        </div><!--slide-4-->
      </div><!--slide-group-->
    </div><!--slide-viewer-->
    <div class='slide-buttons'></div>
  </div><!--w700 slider-->
  <br/>
  <br/>
  <div class='list-recs'>
      {{rec_macro.initialize_recs(display, moment, current_user)}}
  </div><!--list-recs-->
  <script>
    var goto_insert_com = "{{url_for('main.rec_inline_comment_ajax')}}"
  </script>
  <script src="{{url_for('static', filename='js/speciality/photo-slider.js')}}"></script>
{% endblock %}

{% block c1 %}
  <h3 class='reckoner'>Make Recs</h3>
  <img src="{{url_for('static', filename='images/main/make-recs.jpg')}}" class='align-center medium'/>
  <p>
    We live in such an amazing world. It is time to get out and explore it! 
    Make recommendations for the activites that inspire you, the adventures that
    spark you and the products that motivate you. You'll be passing your passion
    on to others around the world!
  </p>
{% endblock %}

{% block c2 %}
  <h3 class='reckoner'>Get Recs</h3>
  <img src="{{url_for('static', filename='images/main/get-recs.jpg')}}" class='align-center medium'/>
  <p>
    Find recs from other people just like you. See what shapes and inspires the
    life of others and share in their experience. Your next adventure is right
    around the corner!
  </p>
{% endblock %}

{% block c3 %}
  <h3 class='reckoner'>Live Life</h3>
  <img src="{{url_for('static', filename='images/main/live-life.jpg')}}" class='align-center medium'/>
  <p>
    Recs is the revoluationary platform that allows you to be you. Find your
    inspiration and live it. Do it. Rec it. The only limit is you.
  </p>
{% endblock %}