<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Search</title>
  <link href="{{url_for('static', filename='css/speciality/jquery-ui.css')}}" type='text/css' rel='stylesheet'/>
{% endblock %}

{% block maincontent %}
  <h2>Search</h2>
  {{flash_macro.render_flash(get_flashed_messages())}}
  <form method='POST'>
    {{form.type.label(class='reckoner')}} {{form.type(class='entry type')}}
    <br/>
    {{form.search.label(class='reckoner')}} {{form.search(class='entry search', id='tags')}}
    <br/>
    {{form.user.label(class='reckoner')}} {{form.user(class='entry')}}
    <br/>
    {{form.date.label(class='reckoner')}} {{form.date(id='datepicker', class='entry')}}
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner', id='submit')}}
  </form>
  <br/>
{% endblock %}

{% block supplemental %}
  <div class='list-recs'>
    {{rec_macro.search_initialize()}}
  </div><!--list-recs-->
  <div class='list-comments'>
    {{comment_macro.search_initialize()}}
  </div><!--list-comments-->
  <script>
    var goto_initial = "{{url_for('main.search_ajax')}}";
    var goto_comment = "{{url_for('main.search_more_ajax')}}";
    var goto_rec = "{{url_for('main.search_more_ajax')}}";
    var goto_insert_com = "{{url_for('main.rec_inline_comment_ajax')}}"
  </script>
  <script src="{{url_for('static', filename='js/main/search.js')}}"></script>
  <script src="{{url_for('static', filename='js/speciality/jquery-ui.js')}}"></script>
{% endblock %}