{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Search</title>
  <link href="{{url_for('static', filename='css/speciality/jquery-ui.css')}}" type='text/css' rel='stylesheet'/>
{% endblock %}

{% block maincontent %}
  {{flash_macro.render_flash(get_flashed_messages())}}
  <h2>Search</h2>
  <form method='POST'>
    {{form.type.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-search fa-2x'></i>
      {{form.type(class='entry entry')}}
    </div><!--icon-input-->
    <br/>
    <br/>
    {{form.search.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-lightbulb-o fa-2x'></i>
      {{form.search(class='entry search', id='tags')}}
    </div><!--icon-input-->
    <br/>
    <br/>
    {{form.user.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-user fa-2x'></i>
      {{form.user(class='entry')}}
    </div><!--icon-input-->
    <br/>
    <br/>
    {{form.date.label(class='reckoner')}}
    <div class='icon-input'>
      <i class='form-icon fa fa-calendar fa-2x'></i>
      {{form.date(id='datepicker', class='entry')}}
    </div><!--icon-input-->
    <br/>
    <br/>
    {{form.csrf_token}}
    {{form.submit(class='reckoner', id='submit')}}
  </form>
  <br/>
  <div class='loading initial-search'>
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
  </div>
{% endblock %}

{% block supplemental %}
  <div class='list-recs'>
    <div class='loading'>
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
    <p class='load-more'>Load More</p>
  </div><!--list-recs-->
  <div class='list-comments'>
    <div class='loading'>
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
    <p class='load-more-com'>Load More</p>
  </div><!--list-comments-->
  <div class='error'>
    Could not load content
  </div>
  <script>
    var goto_comment = "{{url_for('main.search_ajax')}}";
    var goto_initial = "{{url_for('main.search_ajax')}}";
    var goto_rec = "{{url_for('main.search_ajax')}}";
  </script>
  <script src="{{url_for('static', filename='js/main/search.js')}}"></script>
  <script src="{{url_for('static', filename='js/speciality/jquery-ui.js')}}"></script>
  <script src="{{url_for('static', filename='js/speciality/form-icon.js')}}"></script>
{% endblock %}