<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Surprise Me</title>
{% endblock %}

{% block maincontent %}
  <div class='w940'>
    <h2>Surprise Me</h2>
  </div><!--w940-->
  <div class='listrecs'>
    {{recmacro.initialize_recs(display, moment, current_user)}}
  </div><!--listrecs-->
  <script>
    var goto_rec = "{{url_for('main.surprise_ajax')}}"
    var goto_insert_com = "{{url_for('main.rec_inline_comment_ajax')}}"
  </script>
{% endblock %}