<!--REQUIREMENTS
  comments.js
  -->
{% import 'macros/comment-macro.html' as comment_macro %}

{% macro initialize_moderate(d_c, moment, current_user) %}
  <div class='list-comments'>
    {% if d_c.items|length != 0 %}
      {{ajax(d_c, moment, current_user)}}
    {% else %}
      <p>There are no recs in need of moderation. Good job!</p>
    {% endif %}
    {% if d_c.pages != d_c.page and d_c.pages != 0%}
      <div class='loading'>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      </div>
      <p class='load-more-com'>Load More</p>
    {% endif %}
  </div><!--list-comments-->
{% endmacro %}

{% macro ajax(d_c, moment, current_user) %}
  {% for mod_check in d_c.items %}
    <div class='mod-container'>
      <i id='{{mod_check.id}}' class='verify mod-button font-link fa fa-check-circle fa-2x'></i>
      <i id='{{mod_check.id}}' class='private mod-button font-link fa fa-times-circle fa-2x'></i>
      {{comment_macro.render_comment(mod_check, moment, current_user)}}
    </div><!--mod-container-->
  {% endfor %}
{% endmacro %}