body{
    width: 960px;
    margin: 0px auto;
    font-family: Georgia, 'Times New Roman', serif;
}

#header, #content, #footer{
    background-color: #efefef;
}

#content, #footer{
    overflow: auto;
    overflow-y: hidden;
    height: 100%;
}


#header{
    padding: 10px 10px 15px 10px;
}

#footer{
    clear: both;
    text-align: center;
}

/*LOGO*/
@font-face{
    font-family: 'reckoner_bold';
    src: url('../fonts/reckoner_bold.ttf')
}

#logo{
    text-align: center;
    font-family: 'reckoner_bold', Impact, fantasy;
    font-size: 32pt;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*LOGO*/

/*SIGNIN*/
.signin>p{
    display: inline;
}

.signin{
    width: 400px;
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
}
/*SIGNIN*/

/*NAVBAR*/

#nav{
    height: 40px;
}

.loginbar{
    float: right;
    position: relative;
}

li{
    font-family: sans-serif;
    display: inline;
}


#nav a:hover{
    background-color: #000000;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
    padding: 5px;
}

/*NAVBAR*/

/*SUBMENUS*/
.submenu-container{
    position: relative;
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
    top:20px;
    left: auto;
    right:0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu a{
    padding: 12px 16px;
    display: block;
}

.s:hover~.submenu, .submenu:hover{
    display: block;
}

/*SUBMENUS*/

/*CUSTOM TEXT RECOKNER*/
@font-face{
    font-family: 'reckoner';
    src: url('../fonts/reckoner.ttf')
}

.rec{
    font-family: 'reckoner', Impact, fantasy;
    font-size: 24px;
}

/*CUSTOM TEXT RECOKNER*/

/*PICTURE FORMATTING*/
.align-right{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.align-center{
    display: block;
    margin: 0px auto;
}

.medium{
    width: 280px;
}

.large{
    width:400px;
}

.splash{
    width: 900px;
}
/*PICTURE FORMATTING*/

/*WIDTH DIVISIONS*/

.w700{
    width: 700px;
    float: left;
    margin: 10px;
}

.w220{
    width: 220px;
    float: left;
    margin: 10px;
}

.w940{
    margin: 0px auto;
    width: 940px;
}

.w940-center{
    margin: 0px 100px;
}
/*WIDTH DIVISIONS*/

/*MAIN CONTENT */
h2{
    text-align: center;
}
/*MAIN CONTENT */

/*SPECIAL LINK HIGHLIGHTING*/
.special-link:hover{
    background-color: #000000;
    color: #ffffff;
}
/*SPECIAL LINK HIGHLIGHTING*/