<!DOCTYPE html>
{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Mod Verify Comments</title>
{% endblock %}

{% block maincontent %}
  <h2>Verify Comments</h2>
{% endblock %}

{% block supplemental %}
  {{mod_comment_macro.initialize_moderate(d_c, moment, current_user)}}
  <script>
    var goto_comment = "{{url_for('mod.verify_comments')}}";
    var goto_mod = "{{url_for('mod.moderate_com')}}";
  </script>
  <script src="{{url_for('static', filename='js/macros/moderator/mod.js')}}"></script>
{% endblock %}