<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <title>Recommend Me - Mod Verify Comments</title>
    <link href="{{url_for('static', filename='css/mod/verifystyle.css')}}" type='text/css', rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <div class='w940-center'>
         <h2 class='rec'>Verify Comments</h2>
      </div><!--w940-center-->
    </div><!--w940-->
    <div class='listcomments'>
      {% for com in d_c %}
        <div class='button'>
          <button class='rec to_check verify' id='{{com.id}}'>Verify</button>
          <button class='rec to_check private' id='{{com.id}}'>Delete</button>
          <br/>
        </div><!--button-->
        {{commentmacro.render_post(com, current_user, moment)}}
      {% endfor %}
    </div><!--listcomments-->
    <div class='w940-center'>
      <a><p id='ajax' class='loadMore special-link'>Load More</p></a>
    </div><!--w940-center-->
     <script>
      var goto = "{{url_for('mod.verify_com_ajax')}}";
      var gotoM = "{{url_for('mod.moderate_com_ajax')}}";
    </script>
    <script src="{{url_for('static', filename='js/mod/verifycomjs.js')}}"></script>
  {% endblock %}
</body>
</html>