{% extends 'abstract/one-column.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Mod Verify Recs</title>
{% endblock %}

{% block maincontent %}
  <h2>Verify Recs</h2>
{% endblock %}

{% block supplemental %}
  {{mod_rec_macro.initialize_moderate(display, moment, current_user)}}
  <script>
    var goto_mod = "{{url_for('mod.moderate_recs')}}";
    var goto_rec = "{{url_for('mod.verify_recs')}}";
    var id = "{{id}}";
  </script>
  <script src="{{url_for('static', filename='js/macros/moderator/mod.js')}}"></script>
{% endblock %}