<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Mod Verify Comments</title>
{% endblock %}

{% block maincontent %}
  <div class='w940'>
    <div class='w940_center'>
       <h2>Verify Comments</h2>
    </div><!--w940_center-->
  </div><!--w940-->
  <div class='listcomments'>
    {{moderator_comment_macro.initialize_moderate(d_c, moment, current_user)}}
    {{buttonmacro.initialize_mod_button()}}
  </div><!--listcomments-->
   <script>
    var goto_comment = "{{url_for('mod.verify_com_ajax')}}";
    var goto_mod = "{{url_for('mod.moderate_com_ajax')}}";
  </script>
{% endblock %}