{% extends 'abstract/one-column.html' %}
{% import 'macros/admin/rec-action-macro.html' as rec_action_macro %}
{% import 'macros/admin/comment-action-macro.html' as comment_action_macro %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Mod History {{mod.username}}</title>
{% endblock %}

{% block maincontent %}
  <button class='reckoner button-width-set' id='swap'>Comments</button>
  <br/>
  <br/>
{% endblock %}

{% block supplemental %}
  {{rec_action_macro.initialize_rec_moderations(mod_recs, moment, current_user)}}
  {{comment_action_macro.initialize_comment_moderations(mod_coms, moment, current_user)}}
  <script>
    var goto_change_comment_mod = "{{url_for('admin.change_mod_comment_decision')}}"
    var goto_change_mod = "{{url_for('admin.change_mod_decision')}}";
    var goto_comment = "{{url_for('admin.mod_com_ajax', id=mod.id)}}";
    var goto_rec = "{{url_for('admin.mod_rec_ajax', id=mod.id)}}";
    var id = "{{id}}";
  </script>
  <script src="{{url_for('static', filename='js/speciality/rec-comment-swap.js')}}"></script>
  <script src="{{url_for('static', filename='js/macros/admin/mod-action.js')}}"></script>
{% endblock %}