<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}

{% block head %}
  {{super()}}
  <title>Recommend Me - Mod History {{mod.username}}</title>
{% endblock %}

{% block maincontent %}
  <div class='w940'>
    <div class='buttondiv'>
      <button class='reckoner button_width_set' id='submit'>Comments</button>
    </div><!--buttondiv-->
  </div><!--w940-->
  <br/>
  <br/>
  <div class='listrecs'>
    {{mod_rec_action_macro.initialize_rec_moderations(mod_recs, moment, current_user)}}
  </div><!--listrecs-->
  <div class='listcomments'>
    {{mod_comment_action_macro.initialize_comment_moderations(mod_coms, moment, current_user)}}
  </div><!--listcomments-->
  <script>
    var goto_rec = "{{url_for('admin.mod_rec_ajax', id=mod.id)}}";
    var goto_comment = "{{url_for('admin.mod_com_ajax', id=mod.id)}}";
    var goto_insert_com = "{{url_for('main.rec_inline_comment_ajax')}}"
  </script>
  <script src="{{url_for('static', filename='js/speciality/rec_comment_swap_js.js')}}"></script>
{% endblock %}