<!DOCTYPE html>
{% extends 'abstract/onecolumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <title>Recommend Me - Mod History {{mod.username}}</title>
    <link href="{{url_for('static', filename='css/admin/modhistorystyle.css')}}" type='text/css', rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <div class='buttondiv'>
        <button class='rec width-set' id='submit'>Comments</button>
      </div><!--buttondiv-->
    </div><!--w940-->
    <br/>
    <br/>
    <div class='listrecs'>
      {{mod_rec_action_macro.initialize_rec_moderations(mod_recs, moment, current_user)}}
    </div><!--listrecs-->
    <div class='listcomments'>
      {{mod_comment_action_macro.initialize_comment_moderations(mod_coms, moment, current_user)}}
    </div><!--listcomments-->
    <script>
      var goto = "{{url_for('admin.mod_rec_ajax', id=mod.id)}}";
      var gotoCom = "{{url_for('admin.mod_com_ajax', id=mod.id)}}";
    </script>
    <script src="{{url_for('static', filename='js/admin/modhistoryjs.js')}}"></script>
  {% endblock %}
</body>
</html>