{% macro render_api(headers, methods, authorization, description_lines, example) %}
<div class='api_element_container'>
  <div class='api_element_header'>
    {% for single_header in headers %}
      {{single_header}}
      <br/>
    {% endfor %}
  </div><!--api_element_header-->
  <div class='api_element_text'>
    <p>
      Authorization: {{authorization}}
    </p>
    <p>
      Methods: {{methods}}
    </p>
    {% for description in description_lines %}
      <p>{{description}}</p>
    {% endfor %}
    <p class='example'>
      {{example}}
    </p>
  </div><!--api_element_text-->
</div><!--api_element_container-->
<br/>
{% endmacro %}