<!--REQUIREMENTS
  comments.js
  -->
{% macro render_comment(com, moment, current_user, link=request.url) %}
  {% set comment, relationship = com %}
  <div class='single-post'>
    <div class='post-header'>
      <ul class='post-header-list'>
        <li>
          {% if current_user.is_authenticated and current_user != comment.user %}
            {% if relationship %}
              <i id='{{comment.user_id}}' class="follow-button-comment font-link fa fa-heart fa-2x"></i>
            {% else %}
              <i id='{{comment.user_id}}' class='follow-button-comment font-link fa fa-heart-o fa-2x'></i>
            {% endif %}
          {% endif %}
          <a href="{{url_for('profile.user_profile', username=comment.user.username)}}">
            {{comment.user.username}}
          </a>
        </li>
        <li>
          {{moment(comment.timestamp).format('MMMM Do YYYY, h:mm:ss a')}}
        </li>
        <li>
          {% if current_user.id == comment.user_id or current_user.id == comment.recommendation.user_id %}
            <a class='icon-link' href="{{url_for('personal.comment_edit', id=comment.id, next=link)}}">
              <i class='font-link fa fa-pencil-square-o fa-2x'></i>
            </a>
          {% endif %}
          <a class='icon-link' href="{{url_for('main.highlight', id=comment.recommendation_id)}}">
            <i class='font-link fa fa-wpforms fa-2x'></i>
          </a>
        </li>
      </ul>
    </div><!--post-header-->
    <p class='post-text'>
      {{comment.text}}
    </p>
  </div><!--single-post-->
  <br/>
{% endmacro %}

{% macro initialize_comments(d_c, moment, current_user, link=request.url) %}
  <div class='list-comments'>
    {{ajax(d_c, moment, current_user, link)}}
    {% if d_c.pages != d_c.page and d_c.pages != 0 %}
      <div class='loading'>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      </div>
      <p class='load-more-com'>Load More</p>
    {% endif %}
  </div><!--list-comments-->
{% endmacro %}

{% macro ajax(d_c, moment, current_user, link=request.url) %}
  {% for com in d_c.items %}
    {{render_comment(com, moment, current_user, link)}}
  {% endfor %}
{% endmacro %}

{% macro insert_comments(d_c, moment, current_user, link=request.url) %}
  <div class='inline-comments'>
    {% if d_c|length > 0 %}
      {% for com in d_c %}
        {{render_comment(com, moment, current_user, link)}}
      {% endfor %}
    {% endif %}
  </div><!--inline-comments-->
{% endmacro %}