{% import 'macros/recmacro.html' as recmacro %}
{% import 'macros/buttonmacro.html' as buttonmacro %}

{% macro render_name_header(name, current_user) %}
  <div class='name_header'>
    <p class='reckoner name_header_display'>{{name.who.username}}</p>
    {{buttonmacro.follow_button(name.who, current_user)}}
  </div><!--name-->
{% endmacro %}


{% macro initialize_following(display, moment, current_user, Recommendation) %}
  {% if display.items|length != 0 %}
    {{ajax(display, moment, current_user, Recommendation)}}
  {% else %}
    <p>You aren't following anyone! Go to a user's profile to start following them.</p>
  {% endif %}
  {% if display.pages != display.page %}
    <a><p id='ajax_recs' class='loadMore black_hover_link'>Load More</p></a>
  {% endif %}
  <script src="{{url_for('static', filename='js/speciality/ajax_rec_js.js')}}"></script>
{% endmacro %}

{% macro ajax(display, moment, current_user, Recommendation) %}
  {% for name in display.items %}
    {{render_name_header(name, current_user)}}
    {% set highlight = name.who.posts.filter(Recommendation.verification > 0)
      .order_by(Recommendation.timestamp.desc()).first() %}
    {% if highlight != None %}
      {{recmacro.render_rec(highlight, moment, current_user)}}
    {% else %}
      <br/>
    {% endif %}
  {% endfor %}
{% endmacro %}