<!--REQUIREMENTS
  rec.js
  comments.js
  -->
{% import 'macros/rec-macro.html' as rec_macro %}

{% macro initialize_followed_by(display, moment, current_user, Recommendation) %}
  <div class='list-recs'>
    {% if display.items|length != 0 %}
      {{ajax(display, moment, current_user, Recommendation)}}
    {% else %}
      <p>Nobody is following you! Post some Recs to get followers.</p>
    {% endif %}
    {% if display.pages != display.page and display.pages != 0 %}
      <a><p class='load-more'>Load More</p></a>
    {% endif %}
  </div><!--list-recs-->
{% endmacro %}

{% macro ajax(display, moment, current_user, Recommendation, link=request.url) %}
  {% for name in display.items %}
    <div class='name-header'>
      <p class='reckoner name-header-display'>{{name.user.username}}</p>
    </div><!--name-header-->
    {% set highlight = name.user.posts.filter(Recommendation.verification > 0)
        .order_by(Recommendation.timestamp.desc()).first() %}
    {% if highlight != None %}
      {{rec_macro.render_rec(highlight, moment, current_user, link)}}
    {% else %}
      <br/>
    {% endif %}
  {% endfor %}
{% endmacro %}