{% import 'macros/recmacro.html' as recmacro %}

{% macro render_following(name, moment, current_user) %}
  <div class='name'>
    {% if current_user.is_authenticated and current_user.following.filter_by(following=name.following).first() %}
      <button class='rec change to_check' id='{{name.following}}'>Unfollow</button>
    {% else %}
      <button class='rec change to_check' id='{{name.following}}'>Follow</button>
    {% endif %}
    <a href="{{url_for('personal.profile', id=name.following)}}">
      <p class='followName special-link'>
        {{name.who.username}}
        <br/>
        Following Since: {{moment(name.timestamp).fromNow()}}
        <br/>
      </p>
    </a>
  </div><!--name-->
{% endmacro %}

{% macro initialize_following(display, moment, current_user, Recommendation) %}
  {% if display.items|length != 0 %}
    {{ajax(display, moment, current_user, Recommendation)}}
  {% else %}
    <p>You aren't following anyone! Go to a user's profile to start following them.</p>
  {% endif %}
  {% if display.pages != display.page %}
    <a><p id='ajax_recs' class='loadMore special-link'>Load More</p></a>
  {% endif %}
  <script src="{{url_for('static', filename='js/speciality/ajax_rec_js.js')}}"></script>
{% endmacro %}

{% macro ajax(display, moment, current_user, Recommendation) %}
  {% for name in display.items %}
    {{render_following(name, moment, current_user)}}
    {% set highlight = name.who.posts.filter(Recommendation.verification > 0)
      .order_by(Recommendation.timestamp.desc()).first() %}
    {% if highlight != None %}
      {{recmacro.render_rec(highlight, moment, current_user)}}
    {% else %}
      <br/>
    {% endif %}
  {% endfor %}
{% endmacro %}