<!--REQUIREMENTS
  rec.js
  -->
{% import 'macros/rec-macro.html' as rec_macro %}

{% macro initialize_following(display, moment, current_user) %}
  <div class='list-recs'>
    {% if display.items|length != 0 %}
      {{ajax(display, moment, current_user)}}
    {% else %}
      <p>This user isn't following anyone. You can follow someone by clicking their heart.</p>
    {% endif %}
    {% if display.pages != display.page and display.pages != 0 %}
      <a><p class='load-more'>Load More</p></a>
    {% endif %}
  </div><!--list-recs-->
{% endmacro %}

{% macro ajax(display, moment, current_user, link=request.url) %}
  {% for rec in display.items %}
    <div class='name-header'>
      <p class='reckoner name-header-display'>{{rec.user.username}}</p>
    </div><!--name-header-->
    {{rec_macro.single_rec(rec, moment, current_user, link)}}
    <br/>
  {% endfor %}
{% endmacro %}