{% macro mod_display(mods, moment, RecModerations, ComModerations, week_ago) %}
  {% for mod in mods %}
    <div class='mod_display'>
      <div class='headline'>
        <p>
          <a class='black_hover_link' href="{{url_for('personal.profile', id=mod.id)}}">
            {{mod.username}}
         </a>
        </p>
        <p>
          <a class='black_hover_link' href="{{url_for('admin.mod_history', id=mod.id)}}">
            Mod History
          </a>
        </p>
        <p>Last Login: {{moment(mod.last_login).fromNow()}}</p>
      </div><!--headline-->
      <div class='w220'>
        <p>Total Rec Mods: {{mod.rec_mods.count()}}</p>
        <p>
          Last Week Rec Mods: {{mod.rec_mods.filter(RecModerations.timestamp > week_ago).count()}}
        </p>
      </div><!--w220-->
      <div class='w220'>
        <p>Total Com Mods: {{mod.com_mods.count()}}</p>
        <p>
          Last Week Com Mods: {{mod.com_mods.filter(ComModerations.timestamp > week_ago).count()}}
        </p>
      </div><!--w220-->
    </div><!--mod_display-->
    <br/>
  {% endfor %}
{% endmacro %}