{% import 'macros/commentmacro.html' as commentmacro %}

{% macro render_mod(rec_com, moment, current_user) %}
  <div class='action_header'>
    <p class='reckoner'>
      {% if rec_com.action %}
        Accepted
      {% else %}
        Deleted
      {% endif %}
    </p>
    <p>{{moment(rec_com.timestamp).fromNow()}}</p>
  </div><!--action_header-->
  {{commentmacro.render_comment(rec_com.com, moment, current_user)}}
{% endmacro %}

{% macro initialize_comment_moderations(mod_coms, moment, current_user) %}
  {{ajax(mod_coms, moment, current_user)}}
  {% if mod_coms.pages != mod_coms.page %}
    <a><p id='ajax_comments' class='loadMoreCom black_hover_link'>Load More</p></a>
  {% endif %}
  <script src="{{url_for('static', filename='js/speciality/ajax_comment_js.js')}}"></script>
{% endmacro %}

{% macro ajax(mod_coms, moment, current_user) %}
  {% for rec_com in mod_coms.items %}
    {{render_mod(rec_com, moment, current_user)}}
  {% endfor %}
{% endmacro %}
