{% import 'macros/rec-macro.html' as rec_macro %}
{% import 'macros/button-macro.html' as button_macro %}

{% macro initialize_moderate(display, moment, current_user) %}
  {% if display.items|length != 0 %}
    {{ajax(display, moment, current_user)}}
  {% else %}
    <p>There are no recs in need of moderation. Good job!</p>
  {% endif %}
  {% if display.pages != display.page %}
    <a><p id='ajax-recs' class='load-more'>Load More</p></a>
    <script src="{{url_for('static', filename='js/speciality/ajax-rec.js')}}"></script>
  {% endif %}
{% endmacro %}

{% macro ajax(display, moment, current_user) %}
  {% for mod_check in display.items %}
    {{button_macro.mod_button(mod_check.id)}}
    {{rec_macro.render_rec(mod_check, moment, current_user)}}
  {% endfor %}
{% endmacro %}