{% macro mod_display(mod, moment, RecModerations, ComModerations, week_ago) %}
  <div class='onemod'>
    <div class='headline'>
      <p>
        <a class='special-link' href="{{url_for('personal.profile', id=mod.id, _scheme='https', _external=True)}}">
          {{mod.username}}
       </a>
      </p>
      <p>
        <a class='special-link' href="{{url_for('admin.mod_history', id=mod.id, _scheme='https', _external=True)}}">
          Mod History
        </a>
      </p>
      <p>Last Login: {{moment(mod.last_login).fromNow()}}</p>
    </div><!--headline-->
    <div class='w225'>
      <p>Total Rec Mods: {{mod.rec_mods.count()}}</p>
      <p>
        Last Week Rec Mods: {{mod.rec_mods.filter(RecModerations.timestamp > week_ago).count()}}
      </p>
    </div><!--w225-->
    <div class='w225'>
      <p>Total Com Mods: {{mod.com_mods.count()}}</p>
      <p>
        Last Week Com Mods: {{mod.com_mods.filter(ComModerations.timestamp > week_ago).count()}}
      </p>
    </div><!--w225-->
  </div><!--onemod-->
  <br/>
{% endmacro %}