{% macro render_name(name, current_user, user, moment) %}
  <div class='name'>
    {% if current_user.is_authenticated and current_user.id == user.id %}
      <button class='rec change to_check' id='{{name.following}}'>Unfollow</button>
    {% endif %}
    <a href="{{url_for('personal.profile', id=name.following, _scheme='https', _external=True)}}">
      <p class='followName special-link'>
        {{name.who.username}}
        <br/>
        Following Since: {{moment(name.timestamp).fromNow()}}
        <br/>
      </p>
    </a>
  </div><!--name-->
{% endmacro %}

{% macro render_name2(name, current_user, moment) %}
  <div class='name'>
    <a href="{{url_for('personal.profile', id=name.follower, _scheme='https', _external=True)}}">
      <p class='followName special-link'>
        {{name.user.username}}
        <br/>
        Follower Since: {{moment(name.timestamp).fromNow()}}
        <br/>
        {% if current_user.is_authenticated %}
          {% if current_user.following.filter_by(following=name.follower).count() != 0 %}
            You are following this user.
          {% else %}
            You are NOT following this user.
          {% endif %}
        {% endif %}
      </p>
    </a>
  </div><!--name-->
{% endmacro %}