{% import 'macros/comment-macro.html' as comment_macro %}  
<!--REQUIREMENTS
  rec.js
  comments.js
  -->

{% macro render_rec(rec2, count, moment, current_user, attributes=True, link=request.url) %}
  <div class='single-post'>
    {% set rec, follow = rec2 %}
    <a href="{{url_for('main.highlight', id=rec.id)}}">
      <h3 class='rec-title'>{{rec.title}}</h3>
    </a>
    <div class='post-header'>
      <ul class='post-header-list'>
        <li>
          {% if current_user.is_authenticated and current_user != rec.user %}
            {% if follow %}
              <i id='{{rec.user_id}}' class="follow-button font-link fa fa-heart fa-2x"></i>
            {% else %}
              <i id='{{rec.user_id}}' class='follow-button font-link fa fa-heart-o fa-2x'></i>
            {% endif %}
          {% endif %}
          <a href="{{url_for('profile.user_profile', username=rec.user.username)}}">
            {{rec.user.username}}
          </a>
        </li>
        <li>
          {% if rec.verification != 0 %}
            Public
          {% else %}
            Private
          {% endif %}
        </li>
        <li>
          {{moment(rec.timestamp).format('MMMM Do YYYY, h:mm:ss a')}}
        </li>
        <li class='reckoner'>
          Comments: {{count}}
        </li>
        {% if current_user.id == rec.user_id and rec.new_comment == True %}
          <li class='reckoner'>
            New Comment!
          </li>
        {% endif %}
        {% if attributes or rec.user_id==current_user.id %}
          <li>
            {% if rec.user_id==current_user.id %}
              <a class='icon-link' href="{{url_for('personal.edit', post_id=rec.id, next=link)}}">
                <i class='font-link fa fa-pencil-square-o fa-2x'></i>
              </a>
            {% endif %}
            {% if attributes %}
              <i id='{{rec.id}}' class='{{link}} font-link toggle-comments fa fa-comments-o fa-2x'></i>
              <i class='font-link toggle-show fa fa-arrows-v fa-2x'></i>
            {% endif %}
          </li>
        {% endif %}
      </ul>
    </div><!--post-header-->
    <p class='post-text'>
      {{rec.text}}
    </p>
  </div><!--single-post-->
  <br/>
{% endmacro %}

{% macro initialize_recs(display, moment, current_user, attributes=True) %}
  <div class='list-recs'>
    {{ajax(display, moment, current_user, attributes)}}
    {% if display.pages != display.page and display.pages != 0 %}
      <div class='loading'>
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      </div>
      <p class='load-more'>Load More</p>
    {% endif %}
  </div><!--list-recs-->
{% endmacro %}

{% macro ajax(display, moment, current_user, attributes=True, link=request.url) %}
  {% for rec in display.items %}
    {{single_rec(rec, moment, current_user, attributes, link, in_comments=True)}}
  {% endfor %}
{% endmacro %}

{% macro single_rec(rec, moment, current_user, attributes=True, link=request.url, in_comments=True) %}
  {% set comments, count = rec[0].prepare_comments() %}
  {{render_rec(rec, count, moment, current_user, attributes, link)}}
  {% if in_comments %}
    {{comment_macro.insert_comments(comments, moment, current_user, link)}}
  {% endif %}
{% endmacro %}
    