{% macro render_rec(rec, moment, current_user, attributes=True) %}
  <div class='rec1'>
    <a href="{{url_for('main.highlight', id=rec.id)}}">
      <h3 class='postTitle'>
        {{rec.title}}
      </h3>
    </a>
    <div class='postHeaderDiv'>
      <a href="{{url_for('personal.profile', id=rec.author_id)}}">
        <p class='postHeader special-link'>
          {{rec.author.username}}
        </p>
      </a>
      <p class='postHeader'>
        {% if rec.verification != 0 %}
          Public
        {% else %}
          Private
        {% endif %}
      </p>
      <p class='postHeader'>
        {{moment(rec.timestamp).format('MMMM Do YYYY, h:mm:ss a')}}
      </p>
      {% if rec.author_id==current_user.id %}
        <a href="{{url_for('personal.edit', post_id=rec.id)}}">
          <p class='postHeader special-link'>
            Edit
          </p>
        </a>
      {% endif %}
      <p class='postHeader rec'>Comments: {{rec.comments.filter_by(verification=1).count()
        + rec.comments.filter_by(verification=2).count()}}</p>
      {% if current_user.id == rec.author_id and rec.new_comment == True %}
        <p class='postHeader rec'>New Comment!</p>
      {% endif %}
      {% if attributes %}
        <p class='toggle_show'>&#11021;</p>
        <p id='{{rec.id}}'class='toggle_comments'>&#128172;</p>
      {% endif %}
    </div><!--postheaderdiv-->
    <p class='postText'>
      {{rec.text}}
    </p>
  </div><!--rec1-->
  <br/>
{% endmacro %}

{% macro initialize_recs(display, moment, current_user, attributes=True) %}
  {{ajax(display, moment, current_user, attributes)}}
  {% if display.pages != display.page %}
    <p id='ajax_recs' class='loadMore special-link'>Load More</p>
  {% endif %}
  <script src="{{url_for('static', filename='js/speciality/ajax_rec_js.js')}}"></script>
{% endmacro %}

{% macro ajax(display, moment, current_user, attributes=True) %}
  {% for rec in display.items %}
    {{render_rec(rec, moment, current_user, attributes)}}
  {% endfor %}
{% endmacro %}

{% macro search_initialize() %}
  <p id='ajax_recs' class='loadMore special-link'>Load More</p>
  <script src="{{url_for('static', filename='js/speciality/ajax_rec_js.js')}}"></script>
{% endmacro %}