<!DOCTYPE html>
<html lang='en'>
  {{moment.include_jquery()}}
  {{moment.include_moment()}}
  {% import 'macros/comment-macro.html' as comment_macro %}
  {% import 'macros/flash-macro.html' as flash_macro %}
  {% import 'macros/relationship-macro.html' as relationship_macro %}
  {% import 'macros/rec-macro.html' as rec_macro %}
  {% if current_user.is_moderator %}
    {% import 'macros/moderator/mod-comment-macro.html' as mod_comment_macro %}
    {% import 'macros/moderator/mod-rec-macro.html' as mod_rec_macro %}
  {% endif %}
  <head>
    {% block head %}
      <meta charset='utf-8'>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
      <link href="{{url_for('static', filename='css/abstract/base.css')}}" type='text/css' rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/macros/flash.css')}}" type='text/css' rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/abstract/rec-comment.css')}}" type='text/css', rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/abstract/form.css')}}" type='text/css', rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/speciality/font-awesome.min.css')}}" type='text/css', rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/speciality/nprogress.css')}}" type='text/css' rel='stylesheet'/>
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
        <hgroup>
          <h1>Recommend Me</h1>
        </hgroup>
        <nav>
          <ul class='sign-in'>
            {% if current_user.is_authenticated %}
              <p>{{current_user.username}}</p>
              <a href="{{url_for('auth.logout')}}">Sign Out</a>
            {% else %}
              <a href="{{url_for('auth.login')}}">Sign In</a>
              <a href="{{url_for('auth.subscribe')}}">Register</a>
            {% endif %}
          </ul>
          <ul class='nav-bar'>
            <li><a href="{{url_for('main.index')}}">Home</a></li>
            <li><a href="{{url_for('personal.post')}}">My Recs</a></li>
            <div class='submenu-container'>
              {% if current_user.is_authenticated %}
                <li class='submenu-header'><a href="{{url_for('profile.user_profile', username=current_user.username)}}">My Profile</a></li>
              {% else %}
                <li class='submenu-header'><a href="{{url_for('auth.login', next=url_for('profile.user_profile'))}}">My Profile</a></li>
              {% endif %}
                <div class='submenu'>
                  <a class='submenu-link' href="{{url_for('personal.inspiration')}}">My Inspiration</a>
                  <a class='submenu-link' href="{{url_for('personal.following')}}">Following</a>
                  <a class='submenu-link' href="{{url_for('personal.followers')}}">Followers</a>
                </div><!--submenu-->
            </div><!--submenu-container-->
            <div class='submenu-container'>
              <li class='submenu-header'><a href="{{url_for('main.search')}}">Search</a></li>
              <div class='submenu'>
                <a class='submenu-link' href="{{url_for('main.search')}}">Search</a>
                <a class='submenu-link' href="{{url_for('main.surprise')}}">Surprise Me</a>
              </div><!--submenu-->
            </div><!--submenu-container-->
            <div class='submenu-container'>
              <li class='submenu-header'><a href="{{url_for('personal.update', next=request.url)}}">Settings</a></li>
              <div class='submenu'>
                <a class='submenu-link' href="{{url_for('main.about')}}">About</a>
                <a class='submenu-link' href="{{url_for('personal.update', next=request.url)}}">My Settings</a>
                <a class='submenu-link' href="{{url_for('auth.logout')}}">Sign Out</a>
              </div><!--submenu-->
            </div><!--submenu-container-->
          </ul>
        </nav>
      {% endblock %}
    </header>
    <div id='content'>
      {% block content %}
      {% endblock %}
    </div><!--content-->
    <footer>
      {% block footer %}
        <p>Recommend Me - 2017&#169</p>
      {% endblock %}
    </footer>
    <script>
      var goto_follow = "{{url_for('personal.follow_ajax')}}";
      var goto_insert_com = "{{url_for('main.insert_comments')}}";
    </script>
    <script src="{{url_for('static', filename='js/macros/comment.js')}}"></script>
    <script src="{{url_for('static', filename='js/macros/flash.js')}}"></script>
    <script src="{{url_for('static', filename='js/macros/rec.js')}}"></script>
    <script src="{{url_for('static', filename='js/speciality/nprogress.js')}}"></script>
    <script src="{{url_for('static', filename='js/abstract/base.js')}}"></script>
  </body>
</html