<!DOCTYPE html>
<html lang='en'>
  {{moment.include_jquery()}}
  {{moment.include_moment()}}
  {% import 'macros/recmacro.html' as recmacro %}
  {% import 'macros/commentmacro.html' as commentmacro %}
  {% import 'macros/followingmacro.html' as followingmacro %}
  {% import 'macros/followedmacro.html' as followedmacro %}
  {% import 'macros/flashmacro.html' as flashmacro %}
  <head>
    {% block head %}
      <meta charset='utf-8'>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
      <link href="{{url_for('static', filename='css/abstract/basestyle.css')}}" type='text/css' rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/macros/flashstyle.css')}}" type='text/css' rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/abstract/poststyle.css')}}" type='text/css', rel='stylesheet'/>
      <link href="{{url_for('static', filename='css/abstract/formstyle.css')}}" type='text/css', rel='stylesheet'/>
    {% endblock %}
  </head>
  <body>
    <div id='header'>
      {% block header %}
        <div id='logo'>
          <h1>Recommend Me</h1>
        </div><!--logo-->
        <div id='nav'>
          <div class='signin'>
            {% if current_user.is_authenticated %}
              <p>{{current_user.username}}</p>
              <p><a href="{{url_for('auth.logout')}}">Sign Out</a></p>
            {% else %}
              <p><a href="{{url_for('auth.login')}}">Sign In</a></p>
            {% endif %}
          </div><!--signin-->
          <ul class='loginbar'>
            <li><a href="{{url_for('main.index')}}">Home</a></li>
            <li><a href="{{url_for('personal.post')}}">My Recs</a></li>
            <div class='submenu-container'>
              <li class='s'><a href="{{url_for('personal.profile')}}">My Profile</a></li>
              {% if current_user.is_authenticated %}
                <div class='submenu'>
                  <a href="{{url_for('personal.inspiration')}}">My Inspiration</a>
                  <a href="{{url_for('personal.following')}}">Following</a>
                  <a href="{{url_for('personal.followers')}}">Followers</a>
                </div><!--submenu-->
              {% endif %}
            </div><!--submenu-container-->
            <div class='submenu-container'>
              <li class='s'><a href="{{url_for('main.search')}}">Search</a></li>
              <div class='submenu'>
                <a href="{{url_for('main.search')}}">Search</a>
                <a href="{{url_for('main.surprise')}}">Surprise Me</a>
              </div><!--submenu-->
            </div><!--submenu-container-->
            <div class='submenu-container'>
              <li class='s'><a href=''>Settings</a></li>
              <div class='submenu'>
                <a href="{{url_for('main.about')}}">About</a>
                <a href="{{url_for('personal.update')}}">My Settings</a>
                <a href="{{url_for('auth.logout')}}">Sign Out</a>
              </div><!--submenu-->
            </div><!--submenu-container-->
          </ul>
        </div><!--nav-->
      {% endblock %}
    </div><!--header-->
    <div id='content'>
      {% block content %}
      {% endblock %}
    </div><!--content-->
    <div id='footer'>
      {% block footer %}
        <p>Recommend Me - 2017&#169</p>
      {% endblock %}
    </div><!--footer-->
  </body>
</html>