<!DOCTYPE html>
<html>
{% extends 'threecoloumn.html' %}
<head>
  {% block head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/photosliderstyle.css')}}" type='text/css' rel='stylesheet'/>
    <link href="{{url_for('static', filename='css/indexstyle.css')}}" type='text/css' rel='stylesheet'/>
    <link href="{{url_for('static', filename='css/poststyle.css')}}" type='text/css', rel='stylesheet'/>
  {% endblock %}
</head>
  <body>
    {% block maincontent %}
      <div class='w220'>
        <ul class='normlist'>
          <li class='first'>Where</li>
          <li class='second'>will you go?</li>
          <li class='first'>What</li>
          <li class='second'>will you do?</li>
          <li class='first'>Who</li>
          <li class='second'>will you be?</li>
        </ul><!--normlist-->
      </div><!--w220-->
      <div class='w700 slider'>
        <div class='slide-viewer'>
          <div class='slide-group'>
            <div class='slide slide-1'><img src="{{url_for('static', filename='images/one.jpeg')}}"/></div>
            <div class='slide slide-2'><img src="{{url_for('static', filename='images/two.jpeg')}}"/></div>
            <div class='slide slide-3'><img src="{{url_for('static', filename='images/three.jpeg')}}"/></div>
            <div class='slide slide-4'><img src="{{url_for('static', filename='images/four.jpeg')}}"/></div>
          </div><!--slide-group-->
        </div><!--slide-viewer-->
        <div class='slide-buttons'></div>
      </div><!--w700 slider-->
      <script src="{{url_for('static', filename='js/photoslider.js')}}"></script>
      <br/>
      <br/>
      <div class='listrecs'>
        {{postmacro.render_posts(display, current_user, moment)}}
      </div>
    {% endblock %}
    {% block c1 %}
      <h3 class='rec'>Make Recs</h3>
      <img src="{{url_for('static', filename='images/makerecs.jpg')}}" class='align-center medium'/>
      <p>
        We live in such an amazing world. It is time to get out and explore it! 
        Make recommendations for the activites that inspire you, the adventures that
        spark you and the products that motivate you. You'll be passing your passion
        on to others around the world!
      </p>
    {% endblock %}
    {% block c2 %}
      <h3 class='rec'>Get Recs</h3>
      <img src="{{url_for('static', filename='images/getrecs.jpg')}}" class='align-center medium'/>
      <p>
        Find recs from other people just like you. See what shapes and inspires the
        life of others and share in their experience. Your next adventure is right
        around the corner!
      </p>
    {% endblock %}
    {% block c3 %}
      <h3 class='rec'>Live Life</h3>
      <img src="{{url_for('static', filename='images/livelife.jpg')}}" class='align-center medium'/>
      <p>
        Recs is the revoluationary platform that allows you to be you. Find your
        inspiration and live it. Do it. Rec it. The only limit is you.
      </p>
    {% endblock %}
  </body>
</html>