<!DOCTYPE html>
{% extends 'onecoloumn.html' %}
<html>
<head>
  {% block head %}
    {{super()}}
    <link href="{{url_for('static', filename='css/poststyle.css')}}" type='text/css', rel='stylesheet'/>
    <link href="{{url_for('static', filename='css/formstyle.css')}}" type='text/css' rel='stylesheet'/>
  {% endblock %}
</head>
<body>
  {% block maincontent %}
    <div class='w940'>
      <div class='w940-center'>
        <h2 class='rec'>Search</h2>
        {{ flashmacro.render_flash(get_flashed_messages()) }}
        <form method='POST'>
          {{form.search.label(class='rec')}} {{form.search(class='entry', id='tags')}}
          <br/>
          {{form.user.label(class='rec')}} {{form.user(class='entry')}}
          <br/>
          {{form.date.label(class='rec')}} {{form.date(class='entry')}} MM/DD/YYYY
          <br/>
          {{form.csrf_token}}
          {{form.submit(class='entry', id='submit')}}
        </form>
      </div><!--w940-center-->
    </div><!--w940-->
    <div class='listrecs'>
      {{postmacro.render_posts(display, current_user, moment)}}
    </div>
  {% endblock %}
</body>
</html>